.wrapper {
    --search-height: 46px;
    --search-top-space: 9px;
    --search-btn-width: 52px;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
    display: flex;
    justify-content: center;
}
.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-padding);
}

// .loading {
//     border: none;
// }

.actions {
    display: flex;
    align-items: center;
    // text-align: center;
    justify-content: center;
}
.custom-login {
    color: red;
}
.more-btn {
    background-color: transparent;
    margin-left: 16px;
    padding: 4px 8px;
    font-size: 2rem;
    cursor: pointer;
}
// CurrentUser
.actions-btn {
    background-color: transparent;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 4px 12px;
    display: flex;
    align-items: center;
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
